header
    height: 10vh
    display: flex
    flex-flow: row nowrap
    align-items: center
    justify-content: space-between
    width: 100%
    /**/
    padding: 24px
    background: $background-color
    box-shadow: $shadow-one
    z-index: 3
    position: relative
    div
        h1
            font-family: $main-font
            font-size: 1.8rem
        a
            font-family: $text-font
            color: $medium-color
            padding: 0px 20px
