.page-info
    max-height: 70vh
    height: 70vh
    display: grid
    grid-template-columns:  3fr 2fr
    padding: 10px 15px 10px 10px
    .image-holder
        overflow: hidden
        display: flex
        align-items: center
        position: relative
        img
            max-width: 100%
            width: 100%
            height: auto
        a
            position: absolute
            top: 10px
            left: 10px
            font-family: $text-font
            font-size: .8rem
            background: $accent-color
            color: $main-color
            padding: 12px 24px
            z-index: 5
            border: 0
            box-shadow: $shadow-one
            text-transform: uppercase
            &:hover
                box-shadow: $shadow-three
            &:focus
                outline: none
        input
            position: absolute
            top: 0
            right: 0
            margin: 0
            padding: 0
            cursor: pointer
            height: 100%
            width: 100%
            opacity: 0
            z-index: 2
    .info-holder
        padding: 10px 30px
        background-color: $accent-faded
        input, textarea, select
            font-family: $text-font
            font-size: 1rem
            padding: 2px
            color: $main-color
            margin: 10px 0px
            background: #fcfcfc
            border: 1px solid #aaa
            border-radius: 5px
            box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset
            width: 100%
        h1
            font-family: $text-font
            color: $main-color
            font-size: 3rem
        p
            color: $medium-color
            font-size: 1.2rem
            font-family: $text-font
            margin-top: 10px
            text-align: justify
