.page-content
    padding: 10px 15px 10px 10px
    h2
        font-family: $text-font
        color: $main-color
        font-size: 1.5rem
        margin: 10px 0 10px 0
    .page-albums,
    .page-photos
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
        grid-gap: 20px
        img
            cursor: pointer
            width: 100%
            height: 200px
            object-fit: cover
            box-shadow: $shadow-three
        a
            position: relative
            z-index: 3
            height: 200px
            span
                position: absolute
                bottom: 0
                left: 0
                width: 100%
                background: $accent-faded
                padding: 5px
                vertical-align: middle
                font-weight: bold
                font-size: .9em
                font-family: $text-font
                text-align: center
                transition: 5s
            &:hover span
                display: block
